<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
	   <Property name="log-path">logs</Property>
  </Properties>
  
  <Appenders>
    <RollingFile name="DailyRolling" fileName="${log-path}/myexample.log" append="true"
    filePattern="${log-path}/myexample-%d{yyyy-MM-dd}-%i.log">
      <!-- <PatternLayout> -->
      	<!-- <pattern>%d{ISO8601} %-5p [%c] %x &lt;%t&gt; - %m%n</pattern> -->
        <JsonLayout/>
      <!-- </PatternLayout> -->
      <Policies>
		    <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
	    </Policies>
    </RollingFile>
    <Console name="STDOUT" target="SYSTEM_OUT">
    </Console>
    <File name="File" fileName="${log-path}/app.log" append="true" >
      <JsonLayout/>
    </File>
    <JulAppender name="JulAppender" class="org.apache.log4j.JulAppender">
      <JsonLayout/>
    </JulAppender>
  </Appenders>
  <Loggers>
    <Logger name="application.servlet.LibertyServlet" level="debug">
      <AppenderRef ref="DailyRolling"/>
      <AppenderRef ref="File"/>
      <AppenderRef ref="JulAppender"/>
    </Logger>
    <Root level="debug">
      <!-- <AppenderRef ref="STDOUT"/> -->
      <AppenderRef ref="File"/>
      <AppenderRef ref="JulAppender"/>
    </Root>
  </Loggers>
</Configuration>